@import url(src/style/header.css);
@import url(src/style/banner.css);

:root {
  --cor-de-funco: #ebecee;
  --cor-de-funco2: #051d3b;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --fonte-principal:"Poppins"
}
body {
  background-color: var(--cor-de-funco);
  font-family: 'poppins';
  font-size: 16px;
  font-weight: 400;
}
